


.employees-wrapper{
    .employees-content{
        margin-left: 50px;
        
        div{
            display: flex;
            p{
                width: 200px;
                text-align: left;
            }
        }
    }
}  