{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Employees</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/employees.css' %}"> 
{% endblock %}

{% block content %}
<div class="employees-wrapper">
    <h1>Employees</h1>
    <div><a href="{% url "home" %}">Home</a><br><a href="{% url "add_employee" %}">Добавить сотрудника</a></div>
    <div class="employees-content">
        <div>
            <p class="name">Name</p>
            <p class="role">Role</p>
        </div>
        {% for employee in employees %}
        <div class="employee">
            <p class="name">{{employee.name}}</p>
            <p class="role">{{employee.role}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
